body{
    margin:auto;
    background:rgb(252, 234, 222);
    height:auto;
}

a{
    text-decoration:none
}

header{
    height:50px;
    /*border:5px solid hotpink;*/
    background-color: rgb(234, 82, 111);
}

#brand{
    float: left;
    color:white;
    font-size: 30px;
    padding-top: 6px;
    margin-left:1%;
    letter-spacing:1px;
    font-weight: bold;
}
header .buttons{
    display: inline-flex;
    font-size:18px;
    padding:3px 10px;
    background-color: rgb(37, 206, 209);
    margin-top:11px;
    color:white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left:20px;
}
#social{
    float: right;
    margin-right: 20px;
}
 .inst,  .yt, .fb{
    background-color: aliceblue;
    border-radius: 50px;
    margin-top:2%;
}

.socialLogo{
    height:45px
}


#content{
    width:85%;
    margin-left:7.5%;
    margin-top:3%;
    display: flex;
}

.filter{
    height:700px;
    width:20%;
    border:3px solid rgb(234, 82, 111);
    border-radius: 10px;
}
.filter .one{
    margin-left: 48px;
    color:rgb(234, 82, 111);
    font-size:25px;
}

.filter .two{
    margin-left: 64px;
    font-size:25px;

    color:rgb(234, 82, 111);
}
.filter hr{
    height:1.5px;
    background-color:rgb(234, 82, 111);
}


.label_style{
    font-size: 17px;
    background-color: white;
    width:60%;
    border-radius: 40px;
    margin-left: 2%;
}
.label_style label{
    padding-left:2%;
}

input[type="radio"] {

	appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(234, 82, 111);
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
	position: relative;
	top: 2px;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #ca8489;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}


/**/
.restContent{
    height:auto;
    width:70%;
    /*border:3px solid rgb(234, 82, 111);*/
    margin-left:7%;
    border-radius: 10px;

}
.cards{
    display: flex;
    background-color:  #fdddd4;
    border-radius: 10px;
    border-bottom: 4px solid rgb(234, 82, 111);
    margin-bottom: 5%;
}
.cardsLeft{
    width: 50%;
}
.cardsLeft img{
    width:400px;
    padding:5%;
    border-radius: 30px;
}
.cardsRight{
    width: 48%;
}

.cardsRight .name{
    font-size: 30px;
    color:blue;
}
.cardsRight .location{
    font-size: 20px;
    border:1px solid black;
    padding:5px;

}
.cardsRight .price{
    font-size: 25px;
    font-weight: bold;
    color:rgb(21, 141, 21);
}
.cardsRight li{
    display: inline-block;
    font-size: 20px;
    background-color: rgb(255, 138, 84);
    padding:8px;
    color:white;
}
/* Footer */
footer{
    /* height: 80px; */
    /* border:10px double orange */
    background-color: rgb(234, 82, 111);
    text-align: center;
    color: white
}

.footText{
    font-size: 20px;
}

.footDiv{
    display: inline-block;
    width:32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noborder{
    border:none
}
